h2{
  margin:auto
background-color: green; 
text-align:center; }

h1{
background-color:brown;
color: white; 
text-align:center;
border: solid yellow ;
}
p{
text-align:center; 
background-color:pink;}

body{
background-image:url("punks.jpg");
background-size:cover;
}
